section {
  position: relative;
}

section img {
	position: absolute;
}

.top {
	animation-name: fade;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}